.js-focus-visible a.focus-visible, .js-focus-visible
button.focus-visible, .js-focus-visible
[tabindex="0"].focus-visible {
  -webkit-box-shadow: 0 0 0 0.3rem #ffa9b3;
          box-shadow: 0 0 0 0.3rem #ffa9b3;
  outline: 0;
}

::-moz-selection {
  /* Code for Firefox */
  background: #FF5266;
}

::selection {
  background: #FF5266;
}

.navigation__link {
  background-image: linear-gradient(120deg, #FF5266 0%, #FF5266 100%);
}

.button--icon-hover-color:hover, .button--icon-hover-color:active {
  background-color: #FF5266 !important;
}

.button--icon-color {
  color: #FF5266;
}

.button--icon-color svg {
  fill: #FF5266;
}

.button--icon-color:hover, .button--icon-color:active {
  background-color: #FF5266;
}

.button--default {
  background-color: #FF5266;
}

.site-social-links__line {
  background-color: #FF5266;
}

.site-skip-link:focus {
  -webkit-box-shadow: 0 0 0 0.3rem #ffe5e8;
          box-shadow: 0 0 0 0.3rem #ffe5e8;
}

.line {
  background-color: #FF5266;
}

.dash-list__dash {
  background-color: #FF5266;
}

.hire-me__line {
  background-color: #FF5266;
}

.timeline__vertical-line {
  background-color: #FF5266;
}

.timeline__start-point {
  border-color: #FF5266;
}

.portfolio-item__imgs-carousel-nav svg {
  fill: #FF5266;
}

.portfolio__grid-link-infos {
  background-color: rgba(255, 82, 102, 0.95);
}

.clients-testimonials__avatar {
  background-color: rgba(255, 82, 102, 0.95);
}

.clients-testimonials__line {
  background-color: #FF5266;
}

.clients-testimonials.owl-theme .owl-dots .owl-dot.active span {
  background-color: #FF5266;
}

.blog-post__read-more {
  color: #FF5266;
}

.text-link {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5266), to(#FF5266)) no-repeat left 100%/0 2px;
  background: linear-gradient(#FF5266, #FF5266) no-repeat left 100%/0 2px;
}

.spinner-dual-ring--preloader > span {
  border-color: #FF5266 transparent #FF5266 transparent !important;
}

.skill-bar__amount {
  background-color: #FF5266;
}

.contact-info__icon svg {
  fill: #FF5266;
}

.service__icon svg {
  fill: #FF5266;
}

.form__field:focus {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 0 4px #FF5266 !important;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 0 4px #FF5266 !important;
}
