body {
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

body.default-theme {
  background-color: #FFFFFF;
  color: #192136;
}

body.default-theme .site-preloader {
  background-color: #192136;
}

body.default-theme .site-preloader__text {
  color: #FFFFFF;
}

body.default-theme .site-skip-link {
  background-color: #192136;
  color: #FFFFFF;
}

body.default-theme .site-header {
  background-color: rgba(255, 255, 255, 0.9);
}

body.default-theme .site-brand {
  color: #192136;
}

body.default-theme .site-navigation {
  background-color: #FFFFFF;
}

@media only screen and (min-width: 62rem) {
  body.default-theme .site-navigation {
    background-color: transparent;
  }
}

body.default-theme .site-navigation-toggler.site-navigation-toggler--active .site-navigation-toggler__lines .site-navigation-toggler__first-line,
body.default-theme .site-navigation-toggler.site-navigation-toggler--active .site-navigation-toggler__lines .site-navigation-toggler__middle-line,
body.default-theme .site-navigation-toggler.site-navigation-toggler--active .site-navigation-toggler__lines .site-navigation-toggler__last-line {
  background-color: #192136 !important;
}

body.default-theme .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__first-line,
body.default-theme .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__middle-line,
body.default-theme .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__last-line {
  background-color: #192136;
}

body.default-theme .site-navigation__theme-buttons {
  border-top: 1px solid #F4F6FB;
  border-bottom: 1px solid #F4F6FB;
}

@media only screen and (min-width: 62rem) {
  body.default-theme .site-navigation__theme-buttons {
    border-color: #F4F6FB;
    border-top: 0;
    border-bottom: 0;
  }
}

body.default-theme.site--full-cover .site-title, body.default-theme.site--full-cover .site-subtitle {
  color: #FFFFFF;
}

body.default-theme.site--full-cover .site-header.headroom--not-top {
  background-color: rgba(255, 255, 255, 0.9);
}

body.default-theme.site--full-cover .site-header.headroom--top {
  background-color: transparent;
}

body.default-theme.site--full-cover .site-header.headroom--top .site-brand {
  color: #FFFFFF;
}

body.default-theme.site--full-cover .site-header.headroom--top.site-header--anim .site-brand {
  color: #192136;
}

@media only screen and (min-width: 62rem) {
  body.default-theme.site--full-cover .site-header.headroom--top .site-navigation__theme-buttons {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

body.default-theme.site--full-cover .site-header.headroom--top .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__first-line,
body.default-theme.site--full-cover .site-header.headroom--top .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__middle-line,
body.default-theme.site--full-cover .site-header.headroom--top .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__last-line {
  background-color: #FFFFFF;
}

body.default-theme .a11y-preferences__dialog {
  background-color: #FFFFFF;
}

body.default-theme .a11y-preferences__control {
  border-bottom: 1px solid #F4F6FB;
}

body.default-theme.site--composition .home__box {
  background-color: rgba(244, 246, 251, 0.6);
}

body.default-theme.site--full-cover .home__introductory {
  color: #FFFFFF;
}

body.default-theme .home__full-cover-overlay {
  background-color: rgba(25, 33, 54, 0.75);
}

body.default-theme .about-me__img-bg {
  background-color: #F4F6FB;
}

body.default-theme .hire-me__surface {
  background-color: #F4F6FB;
}

body.default-theme .service__box {
  background-color: #F4F6FB;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

body.default-theme .portfolio-modal {
  background-color: rgba(255, 255, 255, 0.99);
}

body.default-theme .portfolio-item__title {
  color: #192136;
}

body.default-theme .portfolio-item__description {
  background-color: #F4F6FB;
}

body.default-theme .portfolio-nav {
  background-color: #FFFFFF;
}

body.default-theme .portfolio-nav__button--prev,
body.default-theme .portfolio-nav__button--next {
  background-color: #F4F6FB;
}

body.default-theme .portfolio__grid-title {
  color: #192136;
}

body.default-theme .portfolio__grid-link-category-item {
  color: #192136;
}

body.default-theme .portfolio__grid-link-infos-footer svg {
  fill: #192136;
}

body.default-theme .portfolio-item__category {
  color: #616e91;
}

body.default-theme .portfolio-item__imgs-carousel-counter {
  color: #616e91;
}

body.default-theme .clients-testimonials__surface {
  background-color: #F4F6FB;
}

body.default-theme .clients-testimonials.owl-theme .owl-dots .owl-dot:not(.active) span {
  background-color: #95A1BE;
}

body.default-theme .blog-post__surface {
  background-color: #F4F6FB;
}

body.default-theme .blog-post__read-more {
  color: #192136;
}

body.default-theme .blog-post__img-link:active .blog-post__img,
body.default-theme .blog-post__img:hover {
  -webkit-box-shadow: 0px 8px 20px rgba(25, 33, 54, 0.45);
          box-shadow: 0px 8px 20px rgba(25, 33, 54, 0.45);
  opacity: .9;
}

body.default-theme .section__header-p {
  color: #616e91;
}

body.default-theme .button--secondary {
  background-color: #F4F6FB;
  color: #192136;
}

body.default-theme .button--secondary:hover, body.default-theme .button--secondary:active {
  background-color: #dcdde2;
}

body.default-theme .button--default {
  color: #192136;
}

body.default-theme .button--spinner .button__spinner > span {
  border-color: #192136 transparent #192136 transparent;
}

body.default-theme .button--theme-switcher-default {
  display: none;
}

body.default-theme .button--icon-default {
  color: #192136;
}

body.default-theme .button--icon-default svg {
  fill: #192136;
}

.animation-off body.default-theme .button--icon-default svg {
  -webkit-transition-duration: 0.01s !important;
          transition-duration: 0.01s !important;
}

body.default-theme .button--icon-default:hover, body.default-theme .button--icon-default:active {
  background-color: #192136;
  color: #FFFFFF;
}

body.default-theme .button--icon-default:hover svg, body.default-theme .button--icon-default:active svg {
  fill: #FFFFFF;
}

body.default-theme .button--icon {
  background-color: rgba(255, 255, 255, 0.5);
}

body.default-theme .button--icon svg {
  fill: #192136;
}

body.default-theme .button--icon-color:hover, body.default-theme .button--icon-color:active,
body.default-theme .button--icon-hover-color:hover,
body.default-theme .button--icon-hover-color:active {
  color: #192136;
}

body.default-theme .button--icon-color:hover svg, body.default-theme .button--icon-color:active svg,
body.default-theme .button--icon-hover-color:hover svg,
body.default-theme .button--icon-hover-color:active svg {
  fill: #192136;
}

body.default-theme .button--carousel {
  background-color: #F4F6FB;
}

@media only screen and (min-width: 62rem) {
  body.default-theme.site--full-cover .site-header.headroom--top .button--icon-default {
    color: #FFFFFF;
  }
  body.default-theme.site--full-cover .site-header.headroom--top .button--icon-default svg {
    fill: #FFFFFF;
  }
  body.default-theme.site--full-cover .site-header.headroom--top .button--icon-default:hover, body.default-theme.site--full-cover .site-header.headroom--top .button--icon-default:active {
    background-color: #FFFFFF;
    color: #192136;
  }
  body.default-theme.site--full-cover .site-header.headroom--top .button--icon-default:hover svg, body.default-theme.site--full-cover .site-header.headroom--top .button--icon-default:active svg {
    fill: #192136;
  }
  body.default-theme.site--full-cover .site-header.headroom--top.site-header--anim .button--icon-default {
    color: #192136;
  }
  body.default-theme.site--full-cover .site-header.headroom--top.site-header--anim .button--icon-default svg {
    fill: #192136;
  }
}

body.default-theme .form__label {
  color: #192136;
}

body.default-theme .form-contact__surface {
  background-color: #F4F6FB;
}

body.default-theme .form__message {
  color: white;
}

body.default-theme .form__field {
  color: #192136;
  background-color: #FFFFFF;
}

body.default-theme .line--underline {
  background-image: linear-gradient(120deg, #192136 0%, #192136 100%);
}

body.default-theme .navigation__link {
  color: #192136;
}

@media only screen and (min-width: 62rem) {
  body.default-theme.site--full-cover .site-header.headroom--top .navigation__link {
    color: #FFFFFF;
  }
  body.default-theme.site--full-cover .site-header.headroom--not-top .navigation__link {
    color: #192136;
  }
  body.default-theme.site--full-cover .site-header.headroom--top.site-header--anim .navigation__link {
    color: #192136;
  }
}

body.default-theme .skill-bar__bg {
  background-color: #F4F6FB;
}

body.default-theme .switch__button {
  background-color: #F4F6FB;
}

body.default-theme .switch__button-text--off {
  color: #192136;
}

body.default-theme .timeline__item-bullet {
  background-color: #192136;
}

body.default-theme .timeline__start-point {
  background-color: #FFFFFF;
}

body.default-theme h5,
body.default-theme .heading-5 {
  color: #616e91;
}

body.default-theme .dash-list {
  color: #616e91;
}

body.default-theme .singlekey {
  border: 1px solid #192136;
  -webkit-box-shadow: -2px 2px 0px 0px #192136;
          box-shadow: -2px 2px 0px 0px #192136;
}

body.default-theme .color--primary {
  color: #192136 !important;
}

body.default-theme .color--secondary {
  color: #616e91 !important;
}

body.default-theme .color--hint {
  color: #95A1BE !important;
}

body.default-theme .bg--background {
  background-color: #FFFFFF !important;
}

body.default-theme .bg--surface {
  background-color: #F4F6FB !important;
}

body.dark-theme {
  background-color: #192136;
  color: #F4F6FB;
}

body.dark-theme .site-preloader {
  background-color: #192136;
}

body.dark-theme .site-preloader__text {
  color: #F4F6FB;
}

body.dark-theme .site-skip-link {
  background-color: #F4F6FB;
  color: #192136;
}

body.dark-theme .site-header {
  background-color: rgba(25, 33, 54, 0.9);
}

body.dark-theme .site-brand {
  color: #F4F6FB;
}

body.dark-theme .site-navigation {
  background-color: #192136;
}

@media only screen and (min-width: 62rem) {
  body.dark-theme .site-navigation {
    background-color: transparent;
  }
}

body.dark-theme .site-navigation-toggler.site-navigation-toggler--active .site-navigation-toggler__lines .site-navigation-toggler__first-line,
body.dark-theme .site-navigation-toggler.site-navigation-toggler--active .site-navigation-toggler__lines .site-navigation-toggler__middle-line,
body.dark-theme .site-navigation-toggler.site-navigation-toggler--active .site-navigation-toggler__lines .site-navigation-toggler__last-line {
  background-color: #F4F6FB !important;
}

body.dark-theme .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__first-line,
body.dark-theme .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__middle-line,
body.dark-theme .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__last-line {
  background-color: #F4F6FB;
}

body.dark-theme .site-navigation__theme-buttons {
  border-top: 1px solid #1D263D;
  border-bottom: 1px solid #1D263D;
}

@media only screen and (min-width: 62rem) {
  body.dark-theme .site-navigation__theme-buttons {
    border-color: rgba(244, 246, 251, 0.2);
    border-top: 0;
    border-bottom: 0;
  }
}

body.dark-theme.site--full-cover .site-title, body.dark-theme.site--full-cover .site-subtitle {
  color: #F4F6FB;
}

body.dark-theme.site--full-cover .site-header.headroom--not-top {
  background-color: rgba(25, 33, 54, 0.9);
}

body.dark-theme.site--full-cover .site-header.headroom--top {
  background-color: transparent;
}

body.dark-theme.site--full-cover .site-header.headroom--top .site-brand {
  color: #F4F6FB;
}

@media only screen and (min-width: 62rem) {
  body.dark-theme.site--full-cover .site-header.headroom--top .site-navigation__theme-buttons {
    border-color: rgba(244, 246, 251, 0.2);
  }
}

body.dark-theme.site--full-cover .site-header.headroom--top .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__first-line,
body.dark-theme.site--full-cover .site-header.headroom--top .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__middle-line,
body.dark-theme.site--full-cover .site-header.headroom--top .site-navigation-toggler .site-navigation-toggler__lines .site-navigation-toggler__last-line {
  background-color: #F4F6FB;
}

body.dark-theme .a11y-preferences__dialog {
  background-color: #192136;
}

body.dark-theme .a11y-preferences__control {
  border-bottom: 1px solid #1D263D;
}

body.dark-theme.site--composition .home__box {
  background-color: rgba(29, 38, 61, 0.9);
}

body.dark-theme.site--full-cover .home__introductory {
  color: #F4F6FB;
}

body.dark-theme .home__full-cover-overlay {
  background-color: rgba(25, 33, 54, 0.75);
}

body.dark-theme .about-me__img-bg {
  background-color: #1D263D;
}

body.dark-theme .hire-me__surface {
  background-color: #1D263D;
}

body.dark-theme .service__box {
  background-color: #1D263D;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

body.dark-theme .portfolio-modal {
  background-color: rgba(25, 33, 54, 0.99);
}

body.dark-theme .portfolio-item__description {
  background-color: #1D263D;
}

body.dark-theme .portfolio-nav {
  background-color: #192136;
}

body.dark-theme .portfolio-nav__button--prev,
body.dark-theme .portfolio-nav__button--next {
  background-color: #1D263D;
}

body.dark-theme .portfolio__grid-title {
  color: #192136;
}

body.dark-theme .portfolio__grid-link-category-item {
  color: #192136;
}

body.dark-theme .portfolio__grid-link-infos-footer svg {
  fill: #192136;
}

body.dark-theme .portfolio-item__category {
  color: #95A1BE;
}

body.dark-theme .portfolio-item__imgs-carousel-counter {
  color: #95A1BE;
}

body.dark-theme .clients-testimonials__surface {
  background-color: #1D263D;
}

body.dark-theme .clients-testimonials.owl-theme .owl-dots .owl-dot:not(.active) span {
  background-color: #616e91;
}

body.dark-theme .blog-post__surface {
  background-color: #1D263D;
}

body.dark-theme .blog-post__img-link:active .blog-post__img,
body.dark-theme .blog-post__img:hover {
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

body.dark-theme .section__header-p {
  color: #95A1BE;
}

body.dark-theme .button--secondary {
  background-color: #1D263D;
  color: #F4F6FB;
}

body.dark-theme .button--secondary:hover, body.dark-theme .button--secondary:active {
  background-color: #283147;
}

body.dark-theme .button--default {
  color: #192136;
}

body.dark-theme .button--spinner .button__spinner > span {
  border-color: #192136 transparent #192136 transparent;
}

body.dark-theme .button--theme-switcher-dark {
  display: none;
}

body.dark-theme .button--icon-default {
  color: #F4F6FB;
}

body.dark-theme .button--icon-default svg {
  fill: #F4F6FB;
}

.animation-off body.dark-theme .button--icon-default svg {
  -webkit-transition-duration: 0.01s !important;
          transition-duration: 0.01s !important;
}

body.dark-theme .button--icon-default:hover, body.dark-theme .button--icon-default:active {
  background-color: #F4F6FB;
  color: #192136;
}

body.dark-theme .button--icon-default:hover svg, body.dark-theme .button--icon-default:active svg {
  fill: #192136;
}

body.dark-theme .button--icon {
  background-color: rgba(25, 33, 54, 0.5);
}

body.dark-theme .button--icon svg {
  fill: #F4F6FB;
}

body.dark-theme .button--icon-color:hover, body.dark-theme .button--icon-color:active,
body.dark-theme .button--icon-hover-color:hover,
body.dark-theme .button--icon-hover-color:active {
  color: #192136;
}

body.dark-theme .button--icon-color:hover svg, body.dark-theme .button--icon-color:active svg,
body.dark-theme .button--icon-hover-color:hover svg,
body.dark-theme .button--icon-hover-color:active svg {
  fill: #192136;
}

body.dark-theme .button--carousel {
  background-color: #1D263D;
}

@media only screen and (min-width: 62rem) {
  body.dark-theme.site--full-cover .site-header.headroom--top .button--icon-default {
    color: #F4F6FB;
  }
  body.dark-theme.site--full-cover .site-header.headroom--top .button--icon-default svg {
    fill: #F4F6FB;
  }
  body.dark-theme.site--full-cover .site-header.headroom--top .button--icon-default:hover, body.dark-theme.site--full-cover .site-header.headroom--top .button--icon-default:active {
    background-color: #F4F6FB;
    color: #192136;
  }
  body.dark-theme.site--full-cover .site-header.headroom--top .button--icon-default:hover svg, body.dark-theme.site--full-cover .site-header.headroom--top .button--icon-default:active svg {
    fill: #192136;
  }
}

body.dark-theme .form__label {
  color: #F4F6FB;
}

body.dark-theme .form-contact__surface {
  background-color: #1D263D;
}

body.dark-theme .form__message {
  color: white;
}

body.dark-theme .form__field {
  background-color: #F4F6FB;
  color: #192136;
}

body.dark-theme .line--underline {
  background-image: linear-gradient(120deg, #192136 0%, #192136 100%);
}

body.dark-theme .navigation__link {
  color: #F4F6FB;
}

@media only screen and (min-width: 62rem) {
  body.dark-theme.site--full-cover .site-header.headroom--top .navigation__link {
    color: #F4F6FB;
  }
  body.dark-theme.site--full-cover .site-header.headroom--not-top .navigation__link {
    color: #F4F6FB;
  }
}

body.dark-theme .skill-bar__bg {
  background-color: #1D263D;
}

body.dark-theme .spinner-dual-ring > span {
  border-color: #F4F6FB transparent #F4F6FB transparent;
}

body.dark-theme .switch__button {
  background-color: #616e91;
}

body.dark-theme .switch__button-text--off {
  color: #F4F6FB;
}

body.dark-theme .timeline__item-bullet {
  background-color: #F4F6FB;
}

body.dark-theme .timeline__start-point {
  background-color: #192136;
}

body.dark-theme h5,
body.dark-theme .heading-5 {
  color: #95A1BE;
}

body.dark-theme .dash-list {
  color: #95A1BE;
}

body.dark-theme .text-link:hover, body.dark-theme .text-link:focus {
  color: #F4F6FB;
}

body.dark-theme .singlekey {
  background-color: #F4F6FB;
  color: #192136;
  border: 1px solid #192136;
  -webkit-box-shadow: -2px 2px 0px 0px #192136;
          box-shadow: -2px 2px 0px 0px #192136;
}

body.dark-theme .color--primary {
  color: #F4F6FB !important;
}

body.dark-theme .color--secondary {
  color: #95A1BE !important;
}

body.dark-theme .color--hint {
  color: #616e91 !important;
}

body.dark-theme .bg--background {
  background-color: #192136 !important;
}

body.dark-theme .bg--surface {
  background-color: #1D263D !important;
}
