// Theme base colors
$primary: #192136;
$primary-80: #1D263D;
$primary-60: #616e91;
$primary-40: #95A1BE;
$primary-20: #F4F6FB;
$primary-0: #FFFFFF;

// Notifications colors
$alert: #DC2E2E;
$success: #1C8753;

// Brand colors options
$blue: #4D8BFF;
$green: #01d892;
$orange: #ff6908;
$pink: #ff64e8;
$purple: #BF6CFE;
$red: #FF5266;